#Data Manipulation with Pandas

*   Filter
*   Handle Mising data
*   Group By Requirements

In [38]:
import numpy as np
import pandas as pd

#Load csv file
df = pd.read_csv('https://gist.githubusercontent.com/kevin336/acbb2271e66c10a5b73aacf82ca82784/raw/e38afe62e088394d61ed30884dd50a6826eee0a8/employees.csv')
df.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,198,Donald,OConnell,DOCONNEL,650.507.9833,21-JUN-07,SH_CLERK,2600,-,124,50
1,199,Douglas,Grant,DGRANT,650.507.9844,13-JAN-08,SH_CLERK,2600,-,124,50
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-SEP-03,AD_ASST,4400,-,101,10
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-FEB-04,MK_MAN,13000,-,100,20
4,202,Pat,Fay,PFAY,603.123.6666,17-AUG-05,MK_REP,6000,-,201,20

In [52]:
# Convert 'HIRE_DATE' to datetime objects
df['HIRE_DATE'] = pd.to_datetime(df['HIRE_DATE'])

# Display the updated DataFrame
df.head()

<ipython-input-52-1f00674ba10f>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['HIRE_DATE'] = pd.to_datetime(df['HIRE_DATE'])

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,2003-06-17,AD_PRES,24000,114,90
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000,100,90
2,102,Lex,De Haan,LDEHAAN,515.123.4569,2001-01-13,AD_VP,17000,100,90
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-01-03,IT_PROG,9000,102,60
4,104,Bruce,Ernst,BERNST,590.423.4568,2007-05-21,IT_PROG,6000,103,60

In [39]:
#Handling missing data
df = df.drop(columns=['COMMISSION_PCT'])
df.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,MANAGER_ID,DEPARTMENT_ID
0,198,Donald,OConnell,DOCONNEL,650.507.9833,21-JUN-07,SH_CLERK,2600,124,50
1,199,Douglas,Grant,DGRANT,650.507.9844,13-JAN-08,SH_CLERK,2600,124,50
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-SEP-03,AD_ASST,4400,101,10
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-FEB-04,MK_MAN,13000,100,20
4,202,Pat,Fay,PFAY,603.123.6666,17-AUG-05,MK_REP,6000,201,20

In [44]:
# Arrange by employee id and reset the index
df = df.sort_values(by='EMPLOYEE_ID')
df = df.reset_index(drop=True)

# Convert 'MANAGER_ID' to numeric, handling errors
df['MANAGER_ID'] = pd.to_numeric(df['MANAGER_ID'], errors='coerce')

# Fill NaN values with the mean of the numeric 'MANAGER_ID' column
df['MANAGER_ID'] = df['MANAGER_ID'].fillna(df['MANAGER_ID'].mean())

# Remove decimals from 'MANAGER_ID'
df['MANAGER_ID'] = df['MANAGER_ID'].astype(int)

df.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,17-JUN-03,AD_PRES,24000,114,90
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21-SEP-05,AD_VP,17000,100,90
2,102,Lex,De Haan,LDEHAAN,515.123.4569,13-JAN-01,AD_VP,17000,100,90
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,03-JAN-06,IT_PROG,9000,102,60
4,104,Bruce,Ernst,BERNST,590.423.4568,21-MAY-07,IT_PROG,6000,103,60

In [49]:
#salary average
S_average = df['SALARY'].mean()
print("Average Salary: ",S_average)

#Highest Salary
S_max= df['SALARY'].max()
print("Highest Salary: ",S_max)

#Lowest Salary
S_min= df['SALARY'].min()
print("Minimum Salary: ",S_min)

Average Salary:  6182.32
Highest Salary:  24000
Minimum Salary:  2100

In [51]:
# Group by 'DEPARTMENT_ID' and calculate the mean salary for each department
avg_salary_by_dept = df.groupby('DEPARTMENT_ID')['SALARY'].mean().sort_values(ascending=False)

# Display the result
avg_salary_by_dept

DEPARTMENT_ID
90     19333.333333
110    10154.000000
70     10000.000000
20      9500.000000
100     8601.333333
40      6500.000000
60      5760.000000
10      4400.000000
30      4150.000000
50      3721.739130
Name: SALARY, dtype: float64

In [54]:
# Group by department and count employees
employee_count_by_dept = df.groupby('DEPARTMENT_ID')['EMPLOYEE_ID'].count()

# Sort in descending order
employee_count_by_dept = employee_count_by_dept.sort_values(ascending=False)

# Display the result
employee_count_by_dept

DEPARTMENT_ID
50     23
30      6
100     6
60      5
90      3
20      2
110     2
10      1
40      1
70      1
Name: EMPLOYEE_ID, dtype: int64